.task {
  padding: 8px 12px;
  border-radius: 30px;
  border: 1px solid #f2f2f2;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background: white;
  height: 200px;
  cursor: pointer;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: black;

  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .title {
      font-weight: 800;
      font-size: 18px;
    }

    .status {
      font-weight: 700;
      font-size: 16px;
      padding: 5px 7px;
      background-color: #cbcbcb;
      border-radius: 7px;
    }
  }

  .description {
    text-align: start;
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .delete-btn {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    height: 30px;
    width: 30px;
    color: white;
    border: none;
    background: rgb(241, 68, 68);
    border-radius: 10px;
    cursor: pointer;
  }
}

.draggable {
  opacity: 0.7;
  border: 1px solid grey;
}
